<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/produto.css" />
    <title>Document</title>
  </head>
  <body>
    <section id="info">
        <h1>{{detalhe.nome}}</h1>
        <h1>{{detalhe.preco}}</h1>
        <h1>{{detalhe.em_estoque}}</h1>
    </section>

    <button>
      <a href="{% url 'excluir' detalhe.id %}">Excluir</a>
    </button>
  </body>
</html>
