{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <table>
        <thead>
            <th>Frutas</th>
            <th>Preço</th>
        </thead>
        <tbody>
            {% for fruta in frutas %}
            <tr>
                <td>{{fruta}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>